    nav li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    margin-top: 12px;

}

header h1, img, nav{
    display: inline-block;
    color:wheat;
}

img{
    background-color: black;
    height: 40px;
    width: 200px;
    display: inline-block;
    margin-top: 16px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}
header{
    background-color: black;
}

.con{
    width: 70%;
    margin: auto;
}