body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu{
    background-color: burlywood;

}
section img{
    display: block;
    margin: 0 auto;
}
.item p{
    display: inline-block;
    margin: 5px auto;
    font-size: 18px;
}

section{
    padding: 0 20px;
}

.price{
    text-align: right; 
    width: 25%;
}

.flavor, .dessert{
    text-align: left; 
    width: 75%;
}


h1, h2, p{
    text-align: center;
}
h1, h2 {
    font-family: Impact, serif;
}

h1{
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 10px;
}

.established{
    font-style: italic;
}

hr{
    border: 2px solid brown;
    background-color: brown;
}


/*footer*/
footer{
    font-size: 18px;
}
.address{
    padding-bottom: 25px;
}
